// -----------------------------------------------------------------------------
// This file contains all styles related to the overview section of the site.
// -----------------------------------------------------------------------------

.overview {
  margin-bottom: 3rem;
}

.overview__heading {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

}