// -----------------------------------------------------------------------------
// This file contains all styles related to the CARD components.
// -----------------------------------------------------------------------------


//
// General card styles for both card types
// ==========================================================================

.card {
  background: var(--background-card);

  border-radius: 5px;
  padding: 1.7rem 1.7rem 1.5rem;
  margin-bottom: 1rem;

  transition: $transition;

  &:hover {
    background: var(--background-card-event);
    cursor: pointer;
  }

    // Remove bottom margin on medium+ screens, replaced by grid gap
  @media (min-width: $bp-medium) {
    margin-bottom: 0;
  }
}



// Green and red card stats numbers
.card__stats {
  color: var(--clr-green);
  font-size: 13px;
  margin-left: 4px;
}

.card__stats--red { color: var(--clr-red) }



//
// (Small) card elements specific classes
// ==========================================================================
.card__count {
  font-size: 1.9rem;
}

.card__top-row {
  @include flex(row);
  margin-bottom: 1.5rem;
}

.card__bottom-row {
  @include flex(row);
  align-items: flex-end;
}



//
// Modifier for big cards
// ==========================================================================
/**
 * Linear gradient to work on top border
 * 1. Border image must be used
 * 2. Psuedo elements used to place borders on top of parent
 * 3. Border image doesn't work with border radius, so parent overflow set hidden
 */
.card--big {
  text-align: center;
  position: relative;

  padding-top: 2rem;
  margin-bottom: 30px;
  overflow: hidden; /* 3 */

  // Remove bottom margin on medium+ screens
  @media (min-width: $bp-medium) {
    margin-bottom: 0;
  }

  /* 2 */
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    
    content: "";
    width: 100%;
    border-top: 4px solid;
    border-radius: 5px;
  }
}

// Modifier classes for the big card top borders
.card--facebook::before  { border-top-color: var(--clr-facebook); }
.card--twitter::before   { border-top-color: var(--clr-twitter); }
.card--instagram::before { border-image: linear-gradient(to right, #fdc468, #df4996) 1; } /* 1 */
.card--youtube::before   { border-top-color: var(--clr-youtube); }



//
// Big card elements specific classes
// ==========================================================================

.card__social {
  @include flex(row, center);
  margin-bottom: 1.5rem;
}

.card__social img {
  margin-right: 0.5rem;
}

.card__count--big {
  font-size: 3.5rem;
}

.card__followers {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;

  margin-bottom: 1.5rem;
}