// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Event wrapper
@mixin on-event {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Flex row
@mixin flex($direction, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justify;
}

// Grid set up for medium and large screens, used in two card grids
@mixin grid-container {
  @media (min-width: $bp-medium) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

  }
  @media (min-width: $bp-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
