// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Event wrapper
@mixin on-event {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Flex row
@mixin flex($direction, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justify;
}


// Clearfix, use to contain floats, based on micro clearfix by Nicolas Gallagher
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
